 
.container{
    background-color: orange;
    border: 7px solid grey;
    width: 70%;  
    height: 600px; 
    margin: auto;
 } 

 h3{
    text-align: center;
} 

.header{
    text-align: center;
    border: solid 5px grey;
    height: 15%;
    width: 90%;
    margin:10px 22px;
    background-color: lightgrey;
    font-size: 20px;
}

.nav{
    text-align: center;
    border: solid 5px grey;
    height: 40%;
    width: 90%;
    margin: auto;
    background-color: lightgrey;
}

.Wrapper{
    border:solid grey 5px;
    width: 90%;
    height: 50%;
    margin:10px 22px;
    background-color: lightgrey;

}

.content, .sidebar{
    border: solid 5px grey;
    text-align: center;
    width: 35%;
    height: 70%;
    margin-left: 9%;
    margin-bottom: 4%;
    display:inline-block;
    vertical-align: top;
    background-color: lightgrey;
} 

.sub_1, .sub_2{
    border:solid 5px grey;
    width: 80%;
    margin:10px;
}


footer{
    border: 5px solid grey;
    text-align: center;
    background-color: lightgrey;
    width: 90%;
    height: 5%;
   margin: 10px 22px;
}
  
